/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#pw-window {
    height: 200px;
    border: 2px solid rgb(90, 90, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}